{%  extends 'blogs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <div class="nav-item">
        <span class="navbar-text">Edit your post:</span>
    </div>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'blogs:edit_post'%}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary" value="{{ post_id }}">Save changes</button>
        {% endbuttons %}
    </form>

{% endblock content %}