{% extends 'blogs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <div class="nav-item">
        <span class="navbar-text">Create new post:</span>
    </div>
{% endblock page_header %}

{% block content %}

    <form action="{% url 'blogs:new_post' %}" method="post" class="navbar-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="btn btn-primary">Add post</button>
    {% endbuttons %}
    </form>

{% endblock content %}