{% extends 'blogs/base.html' %}

{% block content %}

    <p>There is all posts by {{ owner }}</p>
    <p>
    <ul>
        {% for post in posts %}
            <li>
                <h4>
                    {{ post.title }}
                    ({{ post.date_added|date:'d M Y' }})
                    <a href="{% url 'blogs:edit_post' %}?post_id={{ post.id }}">[Edit]</a>
                </h4>
                <p>
                    {{ post.text }}
                </p>
            </li>
        {% empty %}
            <li>No posts yet</li>
        {% endfor %}
    </ul>
</p>

{% endblock content %}