{% extends 'blogs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <div class="nav-item">
        <span class="navbar-text">Register new account:</span>
    </div>
{% endblock page_header %}

{% block content %}

    <form method="post" class="navbar-form" action="{% url 'users:register' %}">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Register</button>
        {%  endbuttons %}
        <input type="hidden" value="{% url 'blogs:summary' %}">
    </form>

{% endblock content %}
